.create-new-thread {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    margin-top: 5%;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }