.high-light-component {
   margin-top: -5%; 
}

.introduce-content {
    text-align: justify;
    margin-right: -13%;
}

.introduce-main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 36px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.introduce-content {
    margin-left: 20%;
    margin-right: 20%;
}