.question {
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin-bottom: 20px;
    /* background-color: #f5f5f5; */
    margin-left: 13%;
    margin-right: 13%;
}


.answer {
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    margin-left: 18%;
    margin-right: 13%;
}



.header-forum {
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.Latest-threads {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

.list-thread {
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin-bottom: 20px;
    /* background-color: #f5f5f5; */
    margin-left: 13%;
    margin-right: 13%;
}

/* .thread-sumary:hover {
  cursor: pointer;
} */

.thread-summary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 16px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 16px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.author-name {
  font-weight: bold;
  font-size: 16px;
}

.post-date {
  font-size: 14px;
  color: gray;
}

.thread-info {
  flex: 1;
}


.comment-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.comment-input {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
  height: 100px;
}

.comment-submit {
  margin-top: 10px;
  align-self: flex-end;
  padding: 5px 10px;
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-submit:hover {
  background-color: #0066cc;
}


.my-answer {
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    margin-left: 18%;
    margin-right: 13%;
}